.row-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.cart-container {
    display: flex;
}
.title-cart-container {
    text-align: center;
}
.cart-option-button {
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
    color: blue;
}