.signup-form {
    margin-top: 30px;
    width: 600px;
}
.form-button {
    display: flex;
    justify-content: center;
}
.form-link {
    display: flex;
    justify-content: center;
}
.container-form-signup {
    display: flex;
    justify-content: space-around;
}
.input-form-signup{
    width: 300px !important
}