.navbar-container {
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
    display: grid;
    grid-template-areas: "categories title icons";
    align-items: center;
}
.text {
    color: black;
    margin-top: 10px;
    margin-left: 15px;
}
.categories-container {
    grid-area: categories;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.title-container {
    grid-area: title;
    text-align: start;
}
.icons-container {
    grid-area: icons;
    text-align: right;
}